:root {
  --primary: #2c0d5e;
  --primary-dark: #080d36;
  --primary-light: #6b39bd;
  --primary-text: #fff;
}

.container {
  background-color: #cdcdcd;
  height: 100vh;
}
.center {
  text-align: center;
}
.nav-bar {
  padding: 3px;
  background-color: var(--primary-dark);
  color: #fff;
}
.wrapper {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 0;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.player {
  margin: 10px;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-text);
}
.score {
  padding: 1px;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--primary-dark);
  color: var(--primary-text);
}
.round-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  margin: 2px;
  cursor: pointer;
  background-color: var(--primary-dark);
  color: var(--primary-text);
}
.round-btn:hover {
  background-color: var(--primary-light);
}
.action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: var(--primary);
}
h2 {
  color: var(--primary-light);
  font-size: 30px;
}
.restart{
  margin-top: 2rem;
}
.restart button{
  border: none;
  margin: 2px;
  padding: 8px;
  cursor: pointer;
  background-color: var(--primary-dark);
  color: var(--primary-text);
}